@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --primary-red: orangered;
  --secondary-red: #ff7542;
  --primary-dark: #000;
  --secondary-dark: #222;
  --primary-light: #fff;
  --secondary-light: #ddd;
  --error: red;
  --success: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/banner.jpg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}

.head-gap {
  width: 100%;
  height: 5%;
}

.tail-gap {
  width: 100%;
  height: 130px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 0 30px var(--primary-dark);
  border-radius: 10px;
  background-color: rgba(34, 34, 34, 0.7);
  max-width: 700px;
  width: 95%;
}

@media screen and (max-width: 380px) {
  .container {
    max-width: 96vw;
    padding: 30px 15px;
  }

  .logo h1 {
    font-size: 1.5rem;
  }
}

.logo {
  margin-bottom: 20px;
}

.logo h1,
h5 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.logo h1 {
  font-size: 2.5rem;
  color: var(--primary-red);
  font-family: "Bree Serif", serif;
}

.logo h5 {
  line-height: 0.9;
  color: var(--primary-light);
  font-family: "Lato", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 35vh;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.alert {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
}

.alert.valid {
  background-color: var(--success);
  color: var(--primary-light);
}

.alert.invalid {
  background-color: var(--error);
  color: var(--primary-light);
}

input {
  padding: 15px 10px;
  border-radius: 5px;
  border: 0.5px dotted var(--primary-red);
  width: 100%;
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondary-dark) inset !important;
  box-shadow: 0 0 0 30px var(--secondary-dark) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--secondary-light) !important;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 13px;
}

.carrier-img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

.btn {
  width: 80%;
  align-self: center;
  padding: 10px;
  text-transform: uppercase;
  color: var(--primary-light);
  font-weight: 500;
  background-color: var(--primary-red);
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background-color: var(--secondary-red);
  color: var(--primary-light);
}

@media screen and (max-width: 320px) {
  .btn {
    font-size: 0.7rem;
    padding: 10px;
    margin-top: 10px;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--secondary-dark);
  text-align: center;
  color: var(--primary-light);
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .bar {
  background-color: var(--secondary-light);
  width: 100%;
  height: 1px;
  margin: 5px 0;
}

footer a {
  text-decoration: none;
  color: var(--primary-red);
}
